@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-xseimc');
  src:url('../fonts/icomoon.eot?#iefix-xseimc') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?-xseimc') format('truetype'),
    url('../fonts/icomoon.woff?-xseimc') format('woff'),
    url('../fonts/icomoon.svg?-xseimc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* 
{
  margin: 0;
  padding: 0;
}
a {
	color: #222;
	text-decoration: none;	
}
body 
{
  background: #fafafa;
  border: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  /*background: #FFF;*/
  text-rendering: optimizeLegibility;
}
figure
{
  margin: 0;
}
header
{
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-color: #FFF;
    border-bottom:1px solid #818181;
    -moz-box-shadow: 3px 2px 7px 0 rgba(15, 15, 15, 0.2);
    -webkit-box-shadow: 2px 3px 7px 0 rgba(15, 15, 15, 0.2);
    box-shadow: 3px 2px 7px 0 rgba(15, 15, 15, 0.2);
    height: 2.4em;
    padding-top: .9em;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9997;
}
picture
{
  margin: 0;
  padding: 0;
  border: 0;
}
#map_canvas 
{ 
  -moz-box-shadow: 0 0 14px rgba(70,49,1,0.5); 
  -webkit-box-shadow: 0 0 14px rgba(70,49,1,0.5);
  border: #A2A2A2 2px solid;
  display: block; 
  height: 380px; 
  margin: 0 auto;
  margin-bottom: 5px;
  position: relative; 
  width: 99%; 
  /*z-index: 30 !important; */
}
.borde_gris
{
  border: solid 1px #666;
}
.negrita
{
  font-weight: bold;
}
.container *
{
  box-sizing: border-box;
}
.container
{
  margin: 0 auto;
  margin-top: 16px;
  max-width: 982px;
  min-width: 340px;
  padding-top: 12px;
  width: 75%; 
  vertical-align: top; 
}
.container .picture-agencia
{
  display: none;
}
.container .content .datos-agencia button
{
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  -webkit-transition: .9s;
  -moz-transition: .9s;
  transition: .9s;
  background-color: #1c62c5;
  background: linear-gradient(#1c62c5,#1f72e4);
  border-radius: 5px;
  border: 1px solid #1f72e4;
  color: #EEE;
  cursor: pointer;
  font-size: 1.5em;
  padding: .6em 2.4em;
  text-align: center;
  margin-left: 23%;
}
.container .content .datos-agencia form
{
  background: -webkit-linear-gradient(#fff,#eee);
  background: linear-gradient(#fff,#eee);
  border: 1px solid #AFAFAF;
  margin: 0 auto 1em;
  padding: 1.2em 1em 1em;
  /*max-width: 26em;*/
  width: 350px;
}
.container .content .datos-agencia form input,
.container .content .datos-agencia form textarea,
.container .content .datos-agencia form select
{
  border-radius: 2px;
  border: 2px solid #999;
  box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  /*color: #002389;*/
  color: #999;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  height: 3em;
  margin-left: -4px;
  padding-left: .6em;
  width: 16em;
}
.container .content .datos-agencia form input[type=radio]
{
  border: 0;
  /*display: block;*/
  height: 1em;
  margin: 0;
  width: 1em;
}
.container .content .datos-agencia form textarea
{
  height: 7em;
  margin-bottom: .8em;
  padding-top: .6em;
  width: 18.1em;
}
.container .content .datos-agencia form img
{
  margin: .8em 0;
  /*width: 286px;*/
  width: 100%;
}
.container .content .datos-agencia form p
{
  margin: 0 0 .4em 2.7em;
}
.container .content .datos-agencia form p:nth-child(even)
{
  margin-top: 1em;
}
.container .content .datos-agencia form .fecha-visita
{
  display: inline-block;
}
.container .content .datos-agencia #map-puebla
{
  border: 0;
  border: 2px solid #AFAFAF;
  margin: .6em 0;
  height: 30em;
  min-width: 23em;
}
.container .content .datos-agencia #map-puebla li
{
  line-height: 160%;
  list-style-type: none;
  margin: 0;
}
#map-puebla .icon-envelope:before,
#map-puebla .icon-phone:before,
#map-puebla .icon-location:before
{
  color: #333;
}
.container .content .datos-agencia .aviso-privacidad
{
  margin-top: 1.4em;
  font-size: .9em;
}
.container .content .datos-agencia .envelope-icon
{
  height: 4em;
  margin: 1em 0;
  width: 22em;
}
.container .content .datos-agencia .envelope-icon .gracias
{
  font-size: 1.1em;
}
.container .content .datos-agencia .envelope-icon .gracias:nth-child(odd)
{
  margin: 2em 0 .8em;
}
.container .content .datos-agencia .envelope-icon .gracias:nth-child(even)
{
  border-bottom: 2px solid #333;  
  padding-bottom: .4em;
}
.container .content .datos-agencia .icon-input
{
  display: inline-block;
  width: 30px;
  background-color: #002389;
  padding: 12px 22px 15px 10px;
  /*margin-left: 15px;*/
  -webkit-border-radius: 4px 0px 0px 4px; 
  -moz-border-radius: 4px 0px 0px 4px; 
  border-radius: 4px 0px 0px 4px;
  color: #FFF;
}
.container .content .datos-agencia .img_promo
{
  border: #999 1px solid;
  width: 100%;
}
.container .content .datos-agencia .label-comments
{
  color: #A0A0A0;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin: .4em 0 .3em;
}
.container .content .datos-agencia .subcontent
{
  background: -webkit-linear-gradient(#fff,#eee);
  background: linear-gradient(#fff,#eee);
  border: 1px solid #AFAFAF;
  margin: 0 auto 1em;
  padding: 1.2em 1em 1em;
  width: 350px;
}
.container .content .datos-agencia .subcontent h5
{
  font-size: 1em;
  margin: 1em 0 .6em;
}
.container .content .datos-agencia .subcontent p
{
  line-height: 130%;
  margin: .6em 0 .6em;
}
.container .content .datos-agencia .subcontent ul li
{
  margin-left: 2.4em;
  padding: 0 12px 4px 0;
}
.container .content .datos-agencia .subcontent .clausulas
{
  list-style-type: square;
  margin-left: 4.2em;
}
.container .content .datos-agencia .subcontent .icon-location2:before
{
  font-size: .9em;
  color: #333;
  margin-right: .6em;
}
.container .content .datos-agencia .subcontent .subcontent-img
{
  display: block;
  margin: 1em auto;
  width: 280px;
}
.container .content .datos-agencia .subcontent .subtitulo-seccion
{
  margin-bottom: 1em;
}
.container .content .datos-agencia .titulo-seccion
{
  background: #333;
  background: linear-gradient(#666, #444);
  border-bottom: 2px solid #333; /*#002389*/
  color: #FFF;
  font-size: 1.1em;
  margin-top: 2em;
  margin: 0 auto;
  padding: .6em 1.2em;
  width: 350px;
}
.container .content .side-fixed-menu
{
  margin: 0 auto 2em;
  width: 15em;
}
.container .side-fixed-menu .menu-agencia
{
  background: #FFF;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  border-top: 3px solid #4C4D4F;
  -moz-box-shadow: 2px 2px 3px 0 rgba(15, 15, 15, 0.2);
  -webkit-box-shadow: 2px 2px 3px 0 rgba(15, 15, 15, 0.2);
  box-shadow: 1px 1px 3px 0 rgba(15, 15, 15, 0.2);
  margin: 0;
  padding: 0;
}
.container .side-fixed-menu .menu-agencia li
{
  list-style-type: none;
}
.container .side-fixed-menu .menu-agencia a
{
  display: block;
  padding: 1em;
}
.container .side-fixed-menu .menu-agencia li a
{
  color: #4C4D4F;  
  font-weight: bold;
}
.container .side-fixed-menu .menu-agencia h4
{
  font-weight: bold;
}
.container .side-fixed-menu .menu-agencia .side-info
{
  padding: .3em .6em;
  color: #4C4D4F;  
  /*font-weight: bold;*/
}
.container .side-fixed-menu .menu-agencia #here
{
  color: #1c69d3;
}
.container .side-fixed-menu .menu-agencia .icon-checkbox-checked
{
  margin-right: .6em;
}
.container .side-fixed-menu .menu-agencia .icon-phone,
.container .side-fixed-menu .menu-agencia .icon-location,
.container .side-fixed-menu .menu-agencia .icon-clock
{
  color: #4C4D4F;
  font-family:"icomoon";
  margin-right: .4em;
}
.container .side-fixed-menu .menu-agencia .menu-titulo
{
  color: #4C4D4F;  
  font-size: 1.2em;
  font-weight: bold;
  margin: .4em 0 .5em .8em; 
}
.container .side-fixed-menu .menu-agencia .submenu-agencia a
{
  text-indent: 2.6em;
}
.container .titulo-agencia
{
  display: none;
}
.container .titulo-agencia .frames-vecsa
{
  display: none;
}
.footer *
{
  margin: 0;
  color: #EEE;
}
.footer
{
  background: -moz-linear-gradient(#000, #303030);
  background: -o-linear-gradient(#000, #303030);
  background: -webkit-linear-gradient(#000, #303030);
  background: linear-gradient(#000, #303030);
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  margin-top: 0;
  padding: 0 .6em;
}
.footer a
{
  text-decoration: none;
}
.footer > div 
{
  margin: auto;  
}
.footer .footerContacto .backtop
{
  background: #505050;
  -moz-transition: background, .3s ease;
  -webkit-transition: background, .3s ease;
  transition: background, .3s ease; 
  cursor: pointer;
  display: block;
  height: 40px;
  margin: 0 auto;
  width: 40px;
}
.footer .footerContacto .backtop:hover
{
  background: #555;
  transform: translate(0,-.4em);
  -webkit-transform: translate(0,-.4em);
  -moz-transform: translate(0,-.4em);
}
.footer .footerContacto .contactoAgencias
{
  display: none;
}
.footer .footerForm
{
  padding: .6em;
}
.footer .footerForm > a
{
  border-bottom: 1px dotted #DDD;
  display: block;
  margin: .9em .6em;
  padding-bottom: .3em; 
  width: 12em;
}
.footer .footer_img a
{
  margin: .4em .3em .6em .4em;
  display: inline-block;
}
.footer .footer_img img
{
  height: 28px;
}
.icon-clock:before
{
  content:"\e94e";
}
.icon-envelope:before
{ 
  content:"\e600";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-key2:before {
  content: "\e98e";
}
.icon-location:before
{
  content:"\e603";
}
.icon-location2:before
{
  content:"\e606";
  margin-right: .4em;
  font-size: 1.1em;
}
.icon-meter:before {
  content: "\e9a6";
}
.icon-phone:before
{
  content:"\e942";
}
.icon-user:before
{
  content: "\e601";
}
.icon-checkbox-checked:before
{
  content: "\ea52";
}
.header .icon-menu:before
{
  color:#333;
  content:"\e607";
  font-family:"icomoon";
  font-size:1.4em;
  left: .4em;
  padding-right:2em;
  position: absolute;
  top: -.2em;
}
.header .icon-menu 
{
  cursor: pointer;
  font-size: 1.2em;
  /*margin-top: .4em;*/
  padding-left: 2.4em;  
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: .3em;
}
.header .icon-menu, .header .title
{
  color:#333;
  display: inline-block;
  font-family: Helvetica,Arial,sans-serif;
}
.header .list-desktop
{
  display: none;
}
.header .title
{
  /*float: right;*/
  font-size:1.4em;
  margin:0;
  margin-right: 1em;  
}
.logo-bmw
{
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 9999;
}
.logo-bmw img
{
  height: 55px;
}
.menu
{
  background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  top: 3em;
  width: 285px;
}
.menu ul 
{
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li 
{
  border-bottom: 1px solid #636366;
  line-height: 35px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}
.menu a 
{
  color: #fff;
  font-size: 1em;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
.menu .list .list-submenu a
{
  color: #FFF;
}
.menu .list .list-submenu li
{
  line-height: 30px;
}
.menu .list .list-submenu li:nth-last-child(1)
{
  border: 0;
}
.pic-header
{
  margin-top: 1.2em;
  width: 100%;
}
.titulo-agencia-mobile
{
  background: #333;
  background: linear-gradient(#444, #282828);
  color: #EEE;
  display: block;
  font-size: 1.4em;
  padding: .5em 1em;
}

@media (min-width: 600px) {
  
}

@media (min-width: 900px) {
  .size-50 {
    width: 100%;
  }
  .container
  {
    min-width: 900px;
    width: 80%;
  }
  .container .picture-agencia
  {
    display: block;
    width: 100%;
  }
  .container .content
  {
    background: #FFF;
    border-bottom: #999 1px solid;
    border-left: #999 1px solid;
    border-right: #999 1px solid;
    overflow: hidden;
    padding: 0 1.4em 1em;
  }  
  .container .content .datos-agencia
  {
    width: 75%;
  }
  .container .content .datos-agencia button
  {
    display: inline-block;
    float: right;
    font-size: 1.2em;
    margin-right: 1.2em;
    margin-top: 6em;
    padding: .5em 1.4em;
  }
  .container .content .datos-agencia button:hover
  {     
    background: linear-gradient(#1B5BB4,#1A66CE);
  }
  .container .content .datos-agencia form
  {
    margin-top: 0;
    width: 100%;
  }
  .container .content .datos-agencia form img
  {
    margin: 4.2em 0;
    margin-right: 1.2em;
    width: 286px;
    float: right;
  }
  .container .content .datos-agencia form textarea
  {
    display: inline-block;
    margin: .4em 0 0 .8em;
  }
  .container .content .datos-agencia .envelope-icon
  {
    display: inline-block;
    margin-left: 1em;
  }  
  .container .content .datos-agencia .img_promo
  {
    border: 0;
    border-right: #999 1px solid;
    border-bottom: #999 1px solid;
  }
  .container .content .datos-agencia .label-comments
  {
    margin: .4em 0 0 .8em;
  }
  .container .content .datos-agencia .subcontent
  {
    margin-top: 0;
    width: 100%;
  }
  .container .content .datos-agencia .subcontent .subcontent-img
  {
    display: inline-block;
  }
  .container .content .side-fixed-menu
  {
    margin: 0;
    margin-top: 2em;
    float: right;
  }
  .container .content .datos-agencia .titulo-seccion
  {
    color: #FFF;
    background: #333;
    background: linear-gradient(#666, #444);
    border-bottom: 2px solid #333; /*#002389*/
    font-size: 1.1em;
    margin-top: 2em;
    padding: .6em 1.2em;
    width: 100%;
  }
  .container .content .side-fixed-menu .menu-agencia
  {
    padding: .6em 0;
  }
  .container .titulo-agencia
  {
    background: #333;
    background: linear-gradient(#444, #282828);
    color: #EEE;
    display: block;
    font-size: 2em;
    padding: .7em 1em;
    position: relative;
  }
  .container .titulo-agencia .frames-vecsa
  {
    display: none;
  }
  .pic-header
  {
    display: none;
  }
  .titulo-agencia-mobile
  {
    display: none;
  }
}

@media (min-width: 930px) {
  a:hover
  {
    /*color: #0044CC;*/
    color: #1c69d3;
  }
  body
  {
    background: #F7F7F7;
    font-size: 13px;
  }
  .container
  {
    min-width: 900px;
    width: 85%;
  }
  .container .titulo-agencia .frames-vecsa
  {
    /*position: fixed;*/
    display: block;
    position: absolute;
    right: 1.6em;
    top: -2.2em;
    z-index: 9998;
  }
  .container .titulo-agencia .frames-vecsa img
  {
    height: 95px;
    /*position: absolute;
    right: 30px;
    top: -78px;*/
    z-index: 9999;
  }
  .container .content .menu-agencia li a
  {
    padding: .6em 1em;
  }
  .container .content .picture-agencia
  {
    margin: 0;
    margin-bottom: 2em;
  }
  .container .content .side-fixed-menu
  {
    float: right;
  }
  .container .content .side-fixed-menu .menu-agencia a:hover
  {
    background: #FEFEFE;
    /*color: #0044CC;*/
    color: #1c69d3;
    font-weight: bold;
  }
  .footer *
  {
    color: #DDD;
  }
  .footer
  {
    flex-direction: row;
    font-size: 1em;
    padding: 0;
    vertical-align: top;
  }
  .footer a:hover
  {
    border-bottom: 1px solid #FFF;
    color: #FFF;
    /*text-decoration: none;*/
  }
  .footer .footerContacto
  {
    display: table;
    height: 16em;
    margin: auto;
    margin-top: 1.3em;
    /*min-width: 60em;*/
    max-width: 80%;
  }
  .footer .footerContacto .contactoAgencias
  {
    display: inline-block;
    margin: .6em 0 2.4em 2.2em;
    /*display: table-cell;*/
    vertical-align: top;
    width: 18em;
  }
  .footer .footerContacto .contactoAgencias h4
  {
    margin-bottom: 1em;
    font-size: 1.1em;
  }
  .footer .footerContacto .contactoAgencias h4 a
  {
    border-bottom: 1px dotted #DDD;
    padding-right: 5em;
    padding-bottom: .2em;
  }
  .footer .footerContacto .contactoAgencias h4 a:hover
  {
      border-bottom: 1px solid #FFF;
      color: #FFF;    
  }
  .footer .footerContacto .contactoAgencias li
  {
    list-style-type: none;
    padding-bottom: .4em;
  }
  .footer .footerContacto .contactoAgencias ul
  {
    padding: 0;
  }
  .footer .footerContacto .contactoAgencias table
  {
    display: inline-block;
  }
  .footer .footerContacto .contactoAgencias table tr td
  {
    padding: .3em 0;
  }
  .footer .footerContacto .contactoAgencias .contactoAgenciasExtension
  {
    font-size: 13px;
    /*padding-left: 1.3em;*/
    text-align: right;
  }
  .footer .footerContacto .backtop
  {
    display: none;
  }
  .footer .footerForm
  {
    /*width: 17em;*/
  }
  .footer .footerForm a
  {
    margin: 1.6em .6em;
  }
  .footer .footerForm .footer_img img
  {
    height: 28px;
  }
  .footer .footerForm .footer_img a
  {
    border: 0;
    cursor: pointer;
    margin: .4em 0 .6em .4em;
  }
  .footer .footerForm .footer_img a:hover
  {
    border: 0;
    background: transparent;
    transform: translate(0,-.3em);
    -webkit-transform: translate(0,-.3em);
    -moz-transform: translate(0,-.3em);
  }
  .header .icon-menu, .header .title, .logo-bmw
  {
    display: none;
  }
  .header
  {
    height: 3.6em;
    padding-top: .8em;
  }   
  .header .item-desktop
  {
    display: inline-block;
    padding-left: 1em;
  }
  .header .item-desktop .menu-elemento
  {
    color: #666;
    font: bold 1.1em/32px Helvetica, Arial, sans-serif;  
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    transition: color .3s ease; 
  }
  .header .item-desktop .menu-elemento:hover
  {
    /*color: #0044CC;*/
    color: #1c69d3;
  }
  .header .list-desktop
  {
    display: block;
  }
  .header .list-desktop
  {
    display: inline-block !important;
    margin: 0 auto;
    padding: 0;
  } 
}

@media (min-width: 1290px) {
  .footer .footerContacto
  {
    max-width: 70%;
  }
}